{% extends 'base.html' %}

{% block contenido %}

<body>
	<h2>Orígenes y Filosofía</h2>
<p>La Universidad Mariano Gálvez , es una institución de educación superior,	 privada, independiente, no lucrativa, que funciona de acuerdo con las leyes propias de su naturaleza institucional, que fue aprobada el 29 de Enero de 1966, por el Consejo Supremo Universitario de la Universidad de San Carlos de Guatemala.
</p>
<p>
Su nombre hace honor al eximio estadista, prócer y preclaro jurisconsulto Doctor José Mariano Gálvez (Jefe del Estado de Guatemala 1831-1838), fundador de la Academia de Estudios y reformador de la educación guatemalteca, quien promovió importantes innovaciones en todos los órdenes de la vida del Estado. Se le atribuye el mejoramiento de la instrucción pública. Luchó por que la enseñanza fuera laica, fue fundador de la Biblioteca y Museo Nacional, respetó las leyes y garantías individuales, libertad de prensa y emisión del pensamiento.
</p>
</body>

{% endblock %}





